body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: rgba(0, 0, 0, .10);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	outline: 0;
}

.navbar-inverse,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	background-color: #4f4975;
	border-color: #4f4975;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-text > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
}

.navbar-text.navbar-right:last-child {
	margin-right: 15px;
}

#call-center .table td,
#call-center .table th {
	padding: 4px 20px;
}

#call-center .table th {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
}

.contact-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contact-list li {
	margin-left: 0;
}

.contact-list h4,
.activity-list .date {
	margin: 2em 0 1em;
	padding: 0 0 0.5em;
	border-bottom: 1px solid #eee;
}

.activity-list .date {
	color: #555;
}